#self-summary {
	position: fixed;
	left: 50vw;
	top: 168px;
	transform: translateX(-50%);
	font-size: 16pt;
	font-weight: 400;
}
#pacmacro-status {
	position: fixed;
	left: 50vw;
	top: 192px;
	transform: translateX(-50%);
	font-size: 10pt;
	font-weight: 400;
}
#pacmacro-canvas {
	z-index: 99;
	position: fixed;
	top: 240px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(min(480px, 100vw)); /* canvas should be stretched */
	border: 4px solid gray;
}
