body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	background-color: black;
	color: white;
}
body.admin {
	background-color: white;
	color: black;
}
h1, h2, h3, p {
	margin: 8px 0;
}
input, select, button {
	margin: 2px;
	border-radius: 4px;
	border: 1px solid #a0a0a0;
	padding: 4px;
	background-color: white;
}
.form {
	border: 1px solid #808080;
	padding: 32px;
	background-color: #f0f0f0;
	color: black;
}
.center {
	position: fixed;
	z-index: 99;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	width: fit-content;
	height: fit-content;
}
