header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: black;
	margin: 0;
	padding :0;
	width: 100vw;
	height: 160px;
}
header img.top-grid, header img.bottom-grid {
	position: absolute;
	z-index: 2;
	left: 50%;
	height: 33%;
}
header img.top-grid {
	top: 0;
	transform: translateX(-50%);
}
header img.bottom-grid {
	bottom: 0;
	transform: translateX(-50%) rotate(180deg);
}
header img.pacmacro-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 64px;
	filter: drop-shadow(0 0 8px #f30180);
}
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 120px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	filter: drop-shadow(0 0 8px #f30180);
}
footer img.frosh-logo {
	height: 80px;
}
